{% extends "base.html" %}

{% block content %}

<h1 class="text-center mt-5">Witaj w {{ app_name }}!</h1>

<div class="row justify-content-center mt-5">
    <div class="col col-sm-6">
        <div class="d-flex justify-content-between">
            <a class="btn btn-primary" href="/">Strona główna</a>
            <a class="btn btn-secondary" href="{{ url_for('objects') }}">Obiekty</a>
            <a class="btn btn-warning" href="{{ url_for('init') }}">Inicjalizacja</a>
        </div>
    </div>
</div>



{% endblock %}