{% extends "base.html" %}

{% block content %}

<h1 class="text-center mt-5">Witaj w {{ app_name }}!</h1>

<p class="text-center m-5">Dostępne funkcje:</p>

<div class="row justify-content-center">
    <div class="col col-sm-6">
        <div class="d-flex justify-content-between">
            <a class="btn btn-primary" href="{{ url_for('objects') }}">Obiekty</a>
            <a class="btn btn-warning" href="{{ url_for('init') }}">Inicjalizacja</a>
        </div>
    </div>
</div>



{% endblock %}